body {
  background-image: url("../img/back.jpg");
  padding-bottom: 5%;
}
#navkh {
  align-items: center;
  font-weight: bold;
  margin-right: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav-link {
  color: black;
}
.nav-link:hover {
  background: rgb(58, 138, 180);
  background-color: black solid 2px;
  border: 2px solid rgb(165, 162, 162);
  background: linear-gradient(
    90deg,
    rgba(58, 138, 180, 0.3) 0%,
    rgba(237, 69, 252, 3) 100%
  );
  border-radius: 10px;
  color: white;
}
.slide {
  width: 80%;
  gap: 5%;
  height: 80vh;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 7%;
  border-radius: 50px;
}
#round {
  width: 80%;
  height: 70vh;
  border-radius: 20px;
}
h3 {
  color: white;
}
.navsh {
  width: 98%;
  justify-content: space-between;
  display: flex;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.199);
  margin: 10px;
  position: fixed;
  font-weight: bold;
  z-index: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.logo {
  width: 60px;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  border-radius: 50%;
}

.header h1 {
  margin-top: 10%;
}
.BODY-1 {
  justify-content: center;
  align-items: center;
}

.display-4 {
  padding-top: 10%;
  text-align: center;
  font-weight: bolder;
  font-family: "Chakra Petch", sans-serif;
  color: rgb(86, 74, 135);
  font-family: "Jacquarda Bastarda 9", serif;
  text-shadow: 3px 2px 2px plum;
}
.display-4 mark {
  border-radius: 20%;
  background-color: rgba(74, 0, 0, 0.289);
  color: rgb(205, 198, 198);
  box-shadow: 10px 10px 10px rgb(74, 30, 74);
  font-size: smaller;
  font-family: "Bungee Spice", sans-serif;
  border: 1px dashed rgb(99, 78, 99);
}
.p-card {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
#wholecard {
  background: rgb(79, 122, 199);
  background: linear-gradient(
    90deg,
    rgba(79, 122, 199, 1) 12%,
    rgba(71, 14, 89, 1) 100%
  );
  border: 2px solid rgb(57, 55, 55);
  box-shadow: 10px 10px 10px rgba(30, 13, 113, 0.721);
  border-radius: 3%;
}

.col-md-4 img {
  height: 100%;
  width: 350px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.199);
}
.card-title {
  font-family: "Sour Gummy", sans-serif;
  font-weight: bolder;
  color: white;
  text-shadow: 0.2px 1px 2px white;
}
.text-body-secondary {
  /*specialized*/
  font-family: "Sour Gummy", sans-serif;
}

.card-text {
  font-family: "Rowdies", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}
.p-2 i {
  font-size: 25px;
  background-color: aliceblue;
  padding: 5px;
  border-radius: 80%;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.5);
  border-radius: 10px solid rgba(255, 255, 255, 0.5);
}
.p-2 {
  margin-right: 10px;
}

.p-2 i.fa-brands.fa-facebook.fa-beat:hover {
  background-color: #3b5998;
  color: white;
  transition: 10s smooth;
}

.p-2 i.fa-brands.fa-telegram.fa-bounce:hover {
  background-color: #24a1de;
  color: white;
  transition: 10s smooth;
}
.p-2 i.fa-brands.fa-instagram.fa-spin.fa-spin-reverse:hover {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  transition: 10s smooth;
  color: white;
}
