@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap');
body {
    background-image: url(/TEAM_168/img/SS.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", serif;
    color: white;
}
.register{
    border: 2px solid white;
    border-radius: 15px;
    width: 40%;
    height: 90%;
   
    padding: 20px;
    background-color: rgba(1, 31, 53, 0.9);
}
.register_content{
    padding: 30px;
}
form{
    background-color: transparent;
}
.mb-3{
    padding: 5px;
    color: white;
    display: flex;
}
.mb-3 input{
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    height: 50px;
}
.form-control::placeholder {
    color: white;
    opacity: 1;
}
.or_continue{
    padding-top: 20px;
    text-align: center;
}
.or_continue i:hover{
    color: blue;
}
